In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Rahul\Documents\Desktop\MARCUS\train.csv')
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [2]:
df.isnull().sum()
#missing values in Item_weight and Outlet_size needs to be imputed
mean = df['Product_Category_2'].mean() #imputing item_weight with mean
df['Product_Category_2'].fillna(mean, inplace =True)

mode = df['Product_Category_3'].mode() #imputing outlet size with mode
df['Product_Category_3'].fillna(mode[0], inplace =True)

In [3]:
df.drop(['Product_Category_2', 'Product_Category_3'], axis=1, inplace=True)
df = pd.get_dummies(df)

In [5]:
from sklearn.model_selection import train_test_split
train , test = train_test_split(df, test_size = 0.3)

x_train = train.drop('Item_Outlet_Sales', axis=1)
y_train = train['Item_Outlet_Sales']

x_test = test.drop('Item_Outlet_Sales', axis = 1)
y_test = test['Item_Outlet_Sales']

KeyError: "labels ['Item_Outlet_Sales'] not contained in axis"